.loaderBg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 1000;
  }
  
  @keyframes ldioGl0cdat9xl5 {
    0% {
      transform: translate(13.440000000000001px, 89.60000000000001px) scale(0);
    }
  
    25% {
      transform: translate(13.440000000000001px, 89.60000000000001px) scale(0);
    }
  
    50% {
      transform: translate(13.440000000000001px, 89.60000000000001px) scale(1);
    }
  
    75% {
      transform: translate(89.60000000000001px, 89.60000000000001px) scale(1);
    }
  
    100% {
      transform: translate(165.76000000000002px, 89.60000000000001px) scale(1);
    }
  }
  
  @keyframes ldioGl0cdat9xl5-r {
    0% {
      transform: translate(165.76000000000002px, 89.60000000000001px) scale(1);
    }
  
    100% {
      transform: translate(165.76000000000002px, 89.60000000000001px) scale(0);
    }
  }
  
  @keyframes ldioGl0cdat9xl5-c {
    0% {
      background: var(--secondary-color);
    }
  
    25% {
      background: var(--main-color);
    }
  
    50% {
      background: var(--secondary-color);
    }
  
    75% {
      background: var(--main-color);
    }
  
    100% {
      background: var(--secondary-color);
    }
  }
  
  .ldioGl0cdat9xl5 div {
    position: absolute;
    width: 44.800000000000004px;
    height: 44.800000000000004px;
    border-radius: 50%;
    transform: translate(89.60000000000001px, 89.60000000000001px) scale(1);
    background: var(--secondary-color);;
    animation: ldioGl0cdat9xl5 2.4390243902439024s infinite cubic-bezier(0, 0.5, 0.5, 1);
  }
  
  .ldioGl0cdat9xl5 div:nth-child(1) {
    background: var(--main-color);;
    transform: translate(165.76000000000002px, 89.60000000000001px) scale(1);
    animation: ldioGl0cdat9xl5-r 0.6097560975609756s infinite cubic-bezier(0, 0.5, 0.5, 1), ldioGl0cdat9xl5-c 2.4390243902439024s infinite step-start;
  }
  
  .ldioGl0cdat9xl5 div:nth-child(2) {
    animation-delay: -0.6097560975609756s;
    background: var(--secondary-color);;
  }
  
  .ldioGl0cdat9xl5 div:nth-child(3) {
    animation-delay: -1.2195121951219512s;
    background: var(--main-color);;
  }
  
  .ldioGl0cdat9xl5 div:nth-child(4) {
    animation-delay: -1.8292682926829267s;
    background: var(--secondary-color);;
  }
  
  .ldioGl0cdat9xl5 div:nth-child(5) {
    animation-delay: -2.4390243902439024s;
    background: var(--main-color);;
  }
  
  .loadingioSpinnerEllipsis1uoryb8dmf {
    width: 224px;
    height: 224px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  
  .ldioGl0cdat9xl5 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
  }
  
  .ldioGl0cdat9xl5 div {
    box-sizing: content-box;
  }
  
  /* generated by https://loading.io/ */